body{
  height: 60vh;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Croissant One', cursive;
  overflow-y: scroll;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

#logo {
  position: absolute;
  width: 6em;
  height: 6em;
  left: 47%;
  top: 4%;
  z-index: 4;
}

.container {
  height: 100%;
  padding: 0 3rem;
}

.txt-type > .txt{
  border-right: .2rem solid #777;
}

#gameTitle{
  position: absolute;
  top: 38%;
  font-size: 40px;
  text-align: center;
  margin:auto;
  left:0;
  right:0;
}

#gameDisplay{
  position:absolute;
  margin: 5em 8em;
  left: 0;
  right:0;
}

.gameSection{
margin: 1em auto;
position: relative;
width: 500px;
height: 320px;
border: 1px solid white;
}

.gameSection.left{
  margin-right: .5em;
}

.gameSection:hover .description{
  animation: visib .6s forwards;
}

.description{
  position:relative;
  margin: auto;
  width: 500px;
  height: 320px;
  text-align: center;
  z-index: 2;
font-size: 30px;
display: flex;
align-items: center;
visibility: hidden;
}

@keyframes visib {
  0%{
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
  }
  100%{
    visibility: visible;
    background-color: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, 1);
  }
}

#a{
  background-image: url("../Games/images/kitchen-survival.png");
  background-size: cover;
}
