
body {
	background: #000;
	font-family: 'Lato', Arial, sans-serif;
	color: #fff;
    overflow-y: scroll;
}

#logo {
  position: absolute;
  width: 6em;
  height: 6em;
margin:auto;
left:0;
right:0;
 top: 4%;
  z-index: 4;
}

.container {
	margin: 9em auto;
	max-width: 960px;
}

.stage {
	list-style: none;
	padding: 0;
}


/* Build the cube and rotate on hover */

.cube {
	width: 260px;
	height: 400px;
	margin: 30px;
	float: left;
	perspective: 1000px;
}

.section {
	width: 260px;
	height: 400px;
	transform-style: preserve-3d;
	transform: translateZ(-130px);
	transition: transform 350ms;
}

.section:hover {
	transform: rotateY(-78deg) translateZ(20px);
}


/* Transform and style the two planes */

.section .poster,
.section .intro {
	position: absolute;
	width: 260px;
	height: 400px;
	background-color: #fff;
	backface-visibility: hidden;
}

.section .poster  {
	transform: translateZ(130px);
	background-size: cover;
	background-repeat: no-repeat;
}

.section .intro {
	transform: rotateY(90deg) translateZ(130px);
	/* border: 10px solid #B8B5B5; */
	font-size: 0.75em;
}



.intro .name {
  color: #FFF;
	padding: 7px 10px;
	font-weight: bold;
	height: 195px;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
	margin: 0 0 2px;
	font-size: 1.4em;
}


.intro .text {
	padding: 1.2em 1.4em;
	margin: 0;
	font-weight: 700;
	color: #666;
	line-height: 1.4em;
}


/* Embedded images */

.cube:nth-child(1) .section .poster {
	background-image: url(../About/images/shuyue.png);

}

.cube:nth-child(2) .poster {
	background-image: url(../About/images/windsper.png);
	background-size: contain;
	background-repeat: repeat;
}

.cube:nth-child(3) .poster {
  background-image: url(../About/images/yuxin.png);
	background-size: contain;
	background-repeat: repeat;
}

.cube:nth-child(1) .intro .name {
	background-image: url(../About/images/yue.jpg);
	background-size: cover;
}

.cube:nth-child(2) .intro .name {
	background-image: url(../About/images/studio.jpg);
	background-size: 240px 200px;
}

.cube:nth-child(3) .intro .name {
	background-image: url(../About/images/yan.jpg);
	background-size: cover;
}


@media screen and (max-width: 60.75em){
	.cube {
		float: none;
		margin: 30px auto 60px;
	}
}
